#js-office_edit
.main
  %h1 Change Office
  = form_for @office, url: office_path do |f|
    = f.text_field :address, placeholder: 'address', required: true
    = submit_tag "Submit"
  %br
  = link_to "Back", office_path
  = javascript_include_tag 'packs/office_edit.bundle'
