#js-office_show
.main
  %h1 About Office
  = "Address: #{@office.address}"
  %br
  = "Latitude: #{@office.latitude}"
  %br
  = "Longitude: #{@office.longitude}"
  %br
  %br
  = link_to "Edit", edit_office_path
  = javascript_include_tag 'packs/office_show.bundle'
