#js-group_edit
.main
  %h1 グループ編集
  = form_tag lunch_group_path(@lunch, @group), method: :patch do
    - @users.each do |user|
      = check_box_tag "user_ids[]", user.id, @group.members.include?(user) ? true : false
      = user.full_name
      %br
    = submit_tag "更新"
  %br
  = link_to "戻る", lunch_path(@lunch)
  = javascript_include_tag 'packs/group_edit.bundle'
