#js-group_new
.main
  %h1 チーム作成
  = form_tag lunch_groups_path, method: :post do
    %h2 ユーザ
    - @users.each do |user|
      = check_box_tag "user_ids[]", user.id, false
      = user.full_name
      %br
    = submit_tag "送信"
  %br
  = link_to "戻る", lunch_path(@lunch)
  = javascript_include_tag 'packs/group_new.bundle'
